:root {
    --black: #191414;
    --gray: #181818;
    --green: #1DB954;
}

body {
    background: var(--black);
    color: white;
}

.jumbotron {
    background: var(--gray);
    background-size: cover;
}

#heroBtn {
    background: var(--green);
    color: white;
}

h2 {
    padding-left: 50px;
}

#musiqueList {
    margin: 50px;
}

hr {
    width: 75%;
}

.musique {
    display: flex;
    padding: 30px 0;
    align-items: center;
}

.musique > * {
    margin-right: 25px;
}

.icon {
    padding: 0 25px;
}

.cover {
}

.description {
    padding-left: 25px;

}