:root {
    --black: #191414;
    --gray: #181818;
    --green: #1DB954;
}

body {
    background: var(--black);
    color: white;
}

.jumbotron {
    background: var(--gray);
}

.btn{
    background: var(--green);
    color: white;
}

.musique{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}


.musique>* {
    flex: 1;
}


.icon{
    padding: 0 25px;
}

.cover{
    order: 1;
}

.description {
    padding: 0 25px;
    order: 2;
}